.lock, .text, .mail {
    height: 1.5rem;
    width: 1.5rem;
    align-self: flex-end;
    margin-bottom: 0.2rem;
}

// .text {
//     height: 1.5rem;
//     width: 1.5rem;
//     align-self: flex-end;
//     margin-bottom: 0.2rem;
// }

// .mail {
//     height: 1.5rem;
//     width: 1.5rem;
//     align-self: flex-end;
//     margin-bottom: 0.2rem;
// }